---
title: Spaghetti Directory
subtitle: An interent webring for the 🍝 fam.
layout: layouts/base.njk
---

<div class='users mt1 pt1'>
  {%- for user in users -%}
    <div class='row x'>
      <span>
        <a href='/users/{{ user.content.main.slug.current | slug }}/'>{{ user.content.main.name  }}</a>
        {% if user.content.main.url %}<a class='' rel='noopener' href='{{ user.content.main.url }}' target='_blank'>⬀</a>{% endif %}
      </span>
    </div>
  {%- endfor -%}
</div>