---
title: Spaghetti Directory
subtitle: An interent webring for the 🍝 fam.
layout: layouts/base.njk
---

<div class='users mt1 pt1 mb1 pb1'>
  {%- for user in users -%}
    <div class='row ac x'>
      <span>
        <a class='h2 caps underline-hover' href='/users/{{ user.content.main.slug.current | slug }}/'>{{ user.content.main.name  }}</a>
        {% if user.content.main.url %}<a class='external h3' rel='noopener' href='{{ user.content.main.url }}' target='_blank'>⬀</a>{% endif %}
      </span>
    </div>
  {%- endfor -%}
</div>