---
title: Spaghetti Directory
layout: layouts/base.njk
---


<div class='container--m mt1 pt1 site__why'>
  <p class='h3'>Instead of highlighting the final products exclusively, this web directory elevates creators first. We showcase work of individuals and studios, in the hopes of exposing all the moving pieces of the make-a-website puzzle.</p>
  <p class='h3'>In general, good websites are usually built by more than 1 person—more often by 3-10 people, depending on the scope of the project. People showcased here include designers, coders, writers, photographers, editors, stylists, and more.</p>
  <p class='h3'>The initial group of creators/artists/websites presented here comes from Spaghetti: a small Slack community that exists in weird corners of the internet.</p>
  <p class='h3'>Concept & Build by <a class='border' href='/users/kevin-green'>Kevin Green</a>
  <br />
  Design & Typeface by <a class='border' href='/users/matt-barnes'>Matt Barnes</a></p>
</div>


