@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@import '../../../../node_modules/svbstrate/src/lib/reset.css';
@import '../../../../node_modules/svbstrate/src/lib/display.css';
@import '../../../../node_modules/svbstrate/src/lib/positioning.css';
@import '../../../../node_modules/svbstrate/src/lib/flexbox.css';
@import '../../../../node_modules/svbstrate/src/lib/align.css';
@import '../../../../node_modules/svbstrate/src/lib/spacing.css';
@import '../../../../node_modules/svbstrate/src/lib/forms.css';
@import '../../../../node_modules/svbstrate/src/lib/z-index.css';

@import 'lib/_variables.css';
@import 'lib/_containers.css';
@import 'lib/_syntax.css';
@import 'lib/_typography.css';
@import 'lib/_borders.css';
@import 'lib/_grid.css';

@import 'components/_header.css';
@import 'components/_image.css';
@import 'components/_projects.css';
@import 'components/_rows.css';

* {
  margin: 0;
  padding: 0;
}

body, html {
  background-color:rgba(247,247,88,1);
}

::-moz-selection {
  background-color: $text-color;
}
::selection {
  background-color: $text-color;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: calc(100vw - 3rem);
  text-align: left;
}

.main {
  min-height: calc(100vh - 160px);
  /* max-width: 1000px; */
}

.m-hide {
  display: none;
  @media (min-width: $mid) {
    display: block;
  }
}