<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#DA5E50">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/image/favicon192.png">
    <link href="https://fonts.googleapis.com/css?family=Hanuman|Open+Sans|Space+Mono" rel="stylesheet">
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="/css/styles.css">
    {% include "seo.njk" %}
    <title>{{ renderData.title or title }}</title>
    <script>
      if ("serviceWorker" in navigator && !/localhost/.test(document.location.href)) {
        navigator.serviceWorker.register("/service-worker.js");
      }
    </script> 
    <style class='js-switch'>
        body {
          background-color: #288003;
          color: #FFCC19;
        }
        .footer--text {
          color: #FFCC19;
        }
        .footer__shape {
          stroke: #FFCC19;
        }
        .footer__download:hover .footer--text {
          color: #288003;
        }
        .footer__download:hover .footer__shape {
          stroke: #288003;
          color: #FFCC19;
        }
        body button {
          color: #FFCC19;
          border-color: #FFCC19;
        }
        .toggle__colors-close {
          color: #288003;
        }
        .project__single-blend {
          background-color: #288003;
        }
        .alt {
          color: #288003;
          background-color: #FFCC19
        }
        .projects--single_image {
          background-color: #FFCC19;
        }
        .footer .newsletter button:hover span {
          color: #FFCC19;
        }
    </style>
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %} data-component='theme'>
    <div class="container">
      {% include "header.njk" %}
      <div class='main' id='root'>
        {{ content | safe }}
      </div>
    </div>
    {% include "footer.njk" %}
    <script src='/scripts/index.js'></script>
  </body>
</html>



