<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png">
    <meta name="theme-color" content="#DA5E50">
    <link rel="apple-touch-icon" href="/image/favicon192.png">
    <link rel="manifest" href="/manifest.json" />
    {% include "seo.njk" %}
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ renderData.title or title }}</title>
    <script>
      if ("serviceWorker" in navigator && !/localhost/.test(document.location.href)) {
        navigator.serviceWorker.register("/service-worker.js");
      }
    </script> 
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

    <div class="container">
      {% include "header.njk" %}
      <div class='main'>
        {{ content | safe }}
      </div>
      {% include "footer.njk" %}
    </div>
    <script src='/scripts/index.js'></script>
  </body>
</html>



