<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "seo.njk" %}
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ renderData.title or title }}</title>
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

    <div class="container">
      {% include "header.njk" %}
      <div class='main'>
        {{ content | safe }}
      </div>
      {% include "footer.njk" %}
    </div>
    <script src='/scripts/index.js'></script>
  </body>
</html>



