---
layout: layouts/base.njk
templateClass: tmpl-user
renderData:
  title: "{{user.content.main.name}}"
---

{% set title = user.content.main.name %}

<div class='mt1 user pt1'>
  <div class='ac'>
    <h1 class='caps'>{{ title }}</h1>
    {% if user.content.main.url %}<a class='border' rel='noopener' href='{{ user.content.main.url }}' target='_blank'>website</a>{% endif %}
  </div>
  <div class='f jcb ais user__flex fw'>

    <div class='mt1 x pt1 {% if user.friends.length > 0 %}user__friends-active{% endif %}'>
      <h4 class='m0 p0'>Projects</h4>
      <div class='f projects fw mt1 jcb x aic'>
        {%- for project in user.content.projects -%}
          {% set projectInfo = project.project.content %}
          <div class='projects--single mb1 x col-4'>
            <a class='projects--single_image x block ba' href='/projects/{{ projectInfo.main.slug.current | slug }}/'>
             <img class='block x'  data-component='image' data-src="{{project.project.image.url}}?h=500" alt="{{projectInfo.main.name}}" />
            </a>
            <h4 class='mt05'>{{projectInfo.main.name}}</h4>
            <div>

              <span class='medium'>Roles</span>: {{project.discipline}}
            </div>
          </div>
        {% else %}
          <p>Didn't find any of that internet</p>
        {%- endfor -%}

        <div class=' x col-4'></div>
        <div class=' x col-4'></div>
      </div>
    </div>
    {% if user.friends.length > 0 %}
      <div class='x user__friends'>
        <h3 class='mt0 pt0 pb1'>Known Internet Associates</h3>
        {% for friend in user.friends %}
          <a class='border mb05' href='/users/{{friend.slug.current}}'>{{friend.name}}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
