---
layout: layouts/base.njk
templateClass: tmpl-user
renderData:
  title: "{{user.content.main.name}}"
---

{% set title = user.content.main.name %}

<div class='mt1 pt1'>
  <h1>{{ title }}</h1>
  <div class='f projects fw mt1 pt1 jcb x aic'>
    {%- for project in user.content.projects -%}
      {% set projectInfo = project.project.content %}
      <div class='projects--single mb1 x col-4'>
        <a class='projects--single_image x block ba' href='/projects/{{ projectInfo.main.slug.current | slug }}/'>
          <img class='block x'  data-component='image' data-src="{{project.project.image.url}}?h=500" alt="{{projectInfo.main.name}}" />
        </a>
        <h4 class='mt05'>{{projectInfo.main.name}}</h4>
        <div>
          <span class='medium'>Roles</span>: {{project.discipline}}
        </div>
      </div>
    {% else %}
      <p>Didn't find any of that internet</p>
    {%- endfor -%}

    <div class=' x col-4'></div>
    <div class=' x col-4'></div>
  </div>
</div>
