.footer {
  margin-top: 3rem;
  padding: 3rem 0 0;
  .newsletter {
    padding-bottom: 3rem;
    @media (min-width: $mid) {
      padding: 5rem 0;
    }
    form {
      margin-top: 1.5rem;
    }
    input {
      border: none;
      color: currentColor;
      width: 100%;
      margin-bottom: 20px;
      border-bottom: 1px solid currentColor;
      &::placeholder {
        color: currentcolor;
      }
      @media (min-width: $mob) {
        margin-bottom: 0px;
        width: 70%;
      }
    }
    button {
      border: 1px solid currentColor;
      background-color: transparent;
      color: currentColor;
      padding: 1rem 2rem;
      border-radius: 30px;
      cursor: pointer;
      &:hover {
        background-color: currentColor;
      }
    }
  }
  &__download {
    left: 50%;
    top: -140px;
    width: 200px;
    transform: translateX(-50%);
    svg {
      width: 100%;
    }
    @media (min-width: $mid) {
      width: 260px;
    }
  }
  &--text {
    width: 60%;
    left: 20%;
    margin: 0 auto;
    top: 10px;
  }
  &__shape {
    animation: spin 30s infinite linear;
  }
  margin-top: 7rem;
  padding-top: 6rem;
  @media (min-width: $mid) {
    margin-top: 10rem;
    padding-top: 5rem;
  }
}

.hidden {
  display: none;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}