.project {
  &__single {
    &-image {
      /* max-width: 800px; */
      margin-bottom: 2rem;
      /* border: 8px solid blue; */
      border: 1px solid rgba(182, 61, 44, 0.5);
      @media (min-width: $mid) {
        box-shadow: 10px 10px 0px 0 rgba(0,0,0,0.2);
      }
    }
  }
  &__info {
    border: 2px solid black;
    padding: 0.5rem 1.5rem;
    margin-top: 2rem;
    @media (min-width: $mid) {
      margin-top: 0;
      box-shadow: 10px 10px 0px 0 rgba(0,0,0,0.2);
    }
    h4 {
      border-bottom: 1px solid currentColor;
      padding-bottom: 0.5rem;
    }
    a {
      color: rgba(71, 183, 56, 1);
      &:hover {
        color: white;
      }
    }
  }
  &__flex {
    @media (min-width: $mid) {
      flex-direction: row-reverse;
      margin-top: 2rem;
      .project__info {
        width: 30%;
        margin-right: 10px;
        /* margin-right: 4%; */
      }
      
      .project__images {
        width: 66%;
      }
    }
  }
}

.projects--single {
  &_image {
    position: relative;
    height: 0;
    padding-bottom: 68%;
    margin-bottom: 10px;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-position: center center;
    }
  }
}