<footer class='f jcb aic'>
  <p>
    Last 🏗️ {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
  </p>
  <ul class='no-style f jcs aic'>
    <li><a href='/' class='mr1'>Github</a></li>
    <li><a href='/'>Submit</a></li>
  </ul>
</footer>
