<footer class='f jcb aic'>
  <p>
    Last 🏗️ {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
  </p>
  <ul class='no-style f jcs aic'>
    <li><a href='https://github.com/ctrl-alt-del-world/spaghetti' target='_blank' class=''>Github</a></li>
  </ul>
</footer>
