<header class='header fix x p1 left top'>
  <div class='nav f jcb rel aic'>
    <div>
      <a href="/why" class='caps'>about</a>
    </div>
    <div>
      <a class='caps header__logo abs' href='/'>Spaghetti</a>
    </div>
    <ul class="f jcs aic">
      <li class='mr1'>
        <a href="/" class='caps'>list</a>
      </li>
      <li class='ml1'>
        <a href="/websites" class='caps'>grid</a>
      </li>
    </ul>
  </div>
</header>
