<header class='header'>
  <div class='nav f jcb aic'>
    <ul class="f jcs aic">
      <li class='mr1'>
        <a href="/">directory</a>
      </li>
      <li class='ml1'>
        <a href="/websites">websites</a>
      </li>
    </ul>
    <a href="/why">why</a>
  </div>
  <p class="subtitle">An interent webring for the 🍝 fam.</p>
</header>
