<meta name="description" content="{{ description or "internet webring for spaghetti" }}">
<meta property='og:locale' content='en_US' />
<meta property='og:image' content='/images/open.jpg' />
<meta property='og:title' content='spaghetti directory' />
<meta property='og:site_name' content='spaghetti directory' />
<meta property='og:description' content='a webring for the spaghetti fam' />
<meta name='twitter:site' content='@Spaghetti' />
<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:title' content='spaghetti directory' />
<meta name='twitter:image:src' content='/images/open.jpg' />
<meta name='twitter:description' content='a webring for the spaghetti fam' />